:root {
  /* Colors */
  --accent-dark-color: black;
  --background-color: indigo;
  --text-color: white;

  /* Text/Font Sizes */
  --menu-text-size: 2rem;
}

#root {
  width: 100vw;
  height: 100vh; 
  background: var(--background-color);  /* fallback for old browsers */
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: "transparent";
  color: var(--text-color);
}

.hamburger {
  font-size: var(--menu-text-size);
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  position: relative;
  z-index: 3;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 400px; /* Adjust width as needed */
  background-color: var(--accent-dark-color);
  color: var(--text-color);
  padding: 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  padding-top: 4rem;
  transform: translateX(-100%); /* Hidden by default */
  transition: transform 0.3s ease; /* Smooth transition */
}

.menu.open {
  transform: translateX(0); /* Visible when open */
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.menu li {
  margin: 0.5rem 0;

}

.menu a {
  color: var(--text-color);
  text-decoration: none;
  font-size: var(--menu-text-size);
}

main {
  padding: 2rem;
  color: var(--text-color);
}

p {
  color: var(--text-color);
}
